@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
@import "~react-toastify/dist/ReactToastify.css";

.my-custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.slide {
  opacity: 0.5;
  transform: scale(0.7);
}

.slide-active {
  opacity: 1;
  transform: scale(1);
}

